.step-five {
  color: #000000;

  h2 {
    font: normal normal 600 3.6rem "Open Sans";

    @media only screen and (max-width: 700px) {
      font-size: 3rem;
    }
  }

  h3 {
    font: normal normal 600 2.4rem "Open Sans";
    padding-top: 4.5rem;
    padding-bottom: 2rem;

    @media only screen and (max-width: 700px) {
      font-size: 2rem;
      padding-top: 2.5rem;
    }
  }

  .box-summary {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2rem;

    img {
      width: 5rem;
      height: 5rem;

      @media only screen and (max-width: 700px) {
        width: 3.5rem;
        height: 3.5rem;
      }
    }

    h4 {
      font: normal normal normal 2.4rem "Open Sans";

      @media only screen and (max-width: 700px) {
        font-size: 2rem;
      }
    }
  }

  .tables-container {
    display: flex;

    .table {
      width: 50%;
      padding-top: 3rem;

      @media only screen and (max-width: 700px) {
        padding-top: 1.5rem;
      }

      h5 {
        font: normal normal 600 2.4rem "Open Sans";
        padding-bottom: 2rem;

        @media only screen and (max-width: 700px) {
          font-size: 2rem;
        }
      }

      .table-box {
        display: flex;
        gap: 4rem;

        @media only screen and (max-width: 700px) {
          gap: 2.5rem;
        }

        .p-table {
          font: normal normal 300 2.4rem "Open Sans";
          width: 10rem;
          padding-bottom: 2rem;
          display: flex;
          align-items: center;

          @media only screen and (max-width: 700px) {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
