.step-two {
  h2 {
    font: normal normal 600 3.6rem "Open Sans";
    color: #000000;
    padding-top: 7rem;
    padding-bottom: 4rem;

    @media only screen and (max-width: 700px) {
      font-size: 3rem;
    }
  }

  .select-box {
    display: flex;
    gap: 2.6rem;
    font: normal normal 300 2.4rem "Open Sans";
    color: #000000;
    align-items: center;

    select {
      width: 30rem;
      height: 5rem;
      background-color: transparent;
      text-align: center;
      font: normal normal 300 2.4rem "Open Sans";
      position: relative;
    }
  }
}
