.hero {
  padding-right: 7.5%;

  @media only screen and (max-width: 450px) {
    padding-right: 0;
  }

  .hero-main-container {
    display: flex;
    height: 90rem; //do zmiany -> zwłaszcza w zakresie mediaqueries

    @media only screen and (max-width: 450px) {
      height: 80rem;
    }

    .hero-img-container {
      width: 50%;
      background-image: url("/Home-Hero-Image.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;

      @media only screen and (max-width: 450px) {
        display: none;
      }
    }

    .hero-txt-container {
      width: 50%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media only screen and (max-width: 960px) {
        justify-content: flex-end;
        margin-bottom: 10rem;
      }

      @media only screen and (max-width: 550px) {
        width: 100%;
        padding-inline: 2rem;
      }

      .h1-hero {
        font: normal normal normal 3.8rem "Raleway";
        letter-spacing: -0.76px;
        color: #3c3c3c;

        @media only screen and (max-width: 960px) {
          font-size: 3rem;
        }

        img {
          padding-top: 2.5rem;
        }
      }

      .btn-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4.4rem;
        padding-top: 6.5rem;

        @media only screen and (max-width: 960px) {
          flex-direction: column;
        }

        button {
          height: 12rem;
          width: 32rem;
          padding: 0;
          font: normal normal 300 3.6rem "Open Sans";
          color: #3c3c3c;
          background-color: transparent;
          border: 0.75px solid #3c3c3c;
          cursor: pointer;

          @media only screen and (max-width: 1150px) {
            height: 10rem;
            width: 25rem;
            font-size: 3rem;
          }

          @media only screen and (max-width: 960px) {
            height: 10rem;
            width: 25rem;
            font-size: 2.3rem;
          }

          @media only screen and (max-width: 960px) {
            height: 7rem;
            width: 20rem;
            font-size: 2rem;
          }

          &:hover {
            box-shadow: 14px 8px 14px 12px rgba(199, 199, 199, 0.87);
            border: 0.75px solid transparent;
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
