.organisations {
  padding-inline: 19%;
  padding-top: 7rem;
  padding-bottom: 19rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 960px) {
    padding-inline: 10%;
  }

  @media only screen and (max-width: 550px) {
    padding-inline: 5%;
    padding-bottom: 10rem;
  }

  h2 {
    font: normal normal normal 3.3rem "Open Sans";
    letter-spacing: -0.76px;
    color: #3c3c3c;

    @media only screen and (max-width: 960px) {
      font-size: 2.5rem;
    }

    @media only screen and (max-width: 500px) {
      font-size: 2rem;
      padding-bottom: 2rem;
    }
  }

  .options {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 3rem;

    @media only screen and (max-width: 660px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2.3rem 4.2rem;
      font: normal normal normal 2.4rem "Open Sans";
      color: #3c3c3c;
      text-decoration: none;
      width: 33.3%;
      border: 0.75px solid transparent;
      transition: all 0.3s ease-in-out;
      pointer-events: auto;
      cursor: pointer;

      @media only screen and (max-width: 960px) {
        padding: 2rem 2.2rem;
        font-size: 2rem;
      }

      @media only screen and (max-width: 550px) {
        font-size: 1.5rem;
        padding-inline: 0.5rem;
      }

      &:hover {
        box-shadow: 14px 8px 14px 12px rgba(199, 199, 199, 0.87);
        border: 0.75px solid #3c3c3c;
      }
    }

    .active {
      border: 0.75px solid #3c3c3c;
    }
  }

  .p-main {
    text-align: center;
    font: normal normal normal 2.2rem "Open Sans";
    color: #3c3c3c;
    padding-inline: 20%;
    padding-top: 7rem;
    padding-bottom: 6.3rem;

    @media only screen and (max-width: 960px) {
      padding-inline: 0;
    }

    @media only screen and (max-width: 550px) {
      font-size: 1.5rem;
    }
  }

  .organisations-box {
    display: flex;
    flex-direction: column;

    width: 120%;

    @media only screen and (max-width: 760px) {
      width: 100%;
    }

    .organisation-container {
      display: flex;
      justify-content: space-between;
      border-bottom: 0.75px solid #3c3c3c;
      align-items: center;
      gap: 2rem;

      &:last-child {
        border: none;
      }

      .details {
        h3 {
          text-align: left;
          font: normal normal 300 2.6rem "Open Sans";
          //   Merriweather
          color: #3c3c3c;
          padding-top: 3.1rem;

          @media only screen and (max-width: 960px) {
            font-size: 2rem;
          }

          @media only screen and (max-width: 550px) {
            font-size: 1.5rem;
          }
        }

        p {
          font: italic normal 300 1.8rem "Open Sans";
          padding-bottom: 3.1rem;

          @media only screen and (max-width: 960px) {
            font: 1.6rem;
          }

          @media only screen and (max-width: 550px) {
            font-size: 1.3rem;
          }
        }
      }

      .needs {
        font: normal normal 300 1.8rem "Open Sans";
        color: #3c3c3c;
        display: flex;
        justify-content: flex-end;
        width: 50%;

        @media only screen and (max-width: 960px) {
          font-size: 1.6rem;
        }

        @media only screen and (max-width: 550px) {
          font-size: 1.3rem;
        }
      }
    }
  }
  .pages-box {
    display: flex;
    gap: 2rem;
    padding-top: 3rem;

    p {
      font: normal normal normal 1.8rem "Open Sans";
      color: #3c3c3c;
      padding: 1.3rem 1.5rem;
      cursor: pointer;
      border: 1px solid transparent;

      &:hover {
        border: 1px solid #707070;
      }
    }

    .activePage {
      border: 1px solid #707070;
      background-color: #e6e6e6;
    }

    // .active {
    //   border: 1px solid #707070;
    // }
  }
}
