* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

html {
  font-size: 10px;
  font-family: "Open Sans";
}

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

@import "./Routes/Homepage/Homepage";
@import "./Routes/Homepage/Hero";
@import "./Routes/Homepage/Projectinfo";
@import "./Routes/Homepage/AboutUs";
@import "./Routes/Homepage/Organisations";
@import "./Routes/Homepage/Contact";
@import "./Routes/Login/Login_Register";
@import "./Routes/Logout/Logout.scss";
@import "./Universal_components/Navbar";
@import "./Routes/Error/Error.scss";
@import "./Routes/GiveAway/HeroGA";
@import "./Routes/GiveAway/FormGA";
@import "./Routes/GiveAway/FormSteps/StepOne.scss";
@import "./Routes/GiveAway/FormSteps/StepTwo.scss";
@import "./Routes/GiveAway/FormSteps/StepThree.scss";
@import "./Routes/GiveAway/FormSteps/StepFour.scss";
@import "./Routes/GiveAway/FormSteps/StepFive.scss";
@import "./Routes/GiveAway/FormSteps/StepSix.scss";
