nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 3.7rem;
  position: absolute;
  right: 7.5%;

  .nav-login {
    display: flex;
    align-items: center;

    .user {
      font: normal normal normal 1.4rem "Open Sans";
    }

    button {
      padding: 1rem;
      background-color: transparent;
      border: 1px solid transparent;
      font: normal normal normal 1.3rem "Open Sans";
      letter-spacing: 0px;
      cursor: pointer;
      margin-left: 1.5rem;

      &:hover {
        border: 1px solid #737373;
      }
    }

    a {
      color: #737373;
      text-decoration: none;

      &:hover {
        color: #fad648;
      }
    }

    .register {
      border: 1px solid #fad648;
    }
  }

  .nav-homepage {
    padding-top: 2.5rem;
    display: flex;
    gap: 0.75rem;

    a {
      padding: 0.9rem 2rem;
      font: normal normal normal 1.8rem "Open Sans";
      color: #3c3c3c;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
      border: 0.75px solid transparent;
      text-decoration: none;

      &:hover {
        border: 0.75px solid #3c3c3c;
      }
    }
  }
}
