nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 3.7rem;
  position: absolute;
  right: 7.5%;

  @media only screen and (max-width: 660px) {
    right: 0;
    padding-right: 5rem;
  }

  .nav-login {
    display: flex;
    align-items: center;

    .user {
      font: normal normal normal 1.4rem "Open Sans";
    }

    button {
      padding: 1rem;
      background-color: transparent;
      border: 1px solid transparent;
      font: normal normal normal 1.3rem "Open Sans";
      letter-spacing: 0px;
      cursor: pointer;
      margin-left: 1.5rem;

      &:hover {
        border: 1px solid #737373;
      }
    }

    a {
      color: #737373;
      text-decoration: none;

      &:hover {
        color: #fad648;
      }
    }

    .register {
      border: 1px solid #fad648;
    }
  }

  .nav-homepage {
    padding-top: 2.5rem;
    display: flex;
    gap: 0.75rem;

    @media only screen and (max-width: 960px) {
      justify-content: space-between;
      text-align: center;
    }

    a {
      padding: 0.9rem 2rem;
      font: normal normal normal 1.8rem "Open Sans";
      color: #3c3c3c;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
      border: 0.75px solid transparent;
      text-decoration: none;
      display: flex;
      align-items: center;

      &:hover {
        border: 0.75px solid #3c3c3c;
      }
    }

    @media screen and (max-width: 660px) {
      position: absolute;
      top: 0;
      height: 60vh;
      width: 100vw;
      right: -25%;
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(40.7742px);
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      margin-inline: auto;
      z-index: 100;
      padding-top: 15rem;
      padding-inline: 15rem;
      transform: translate(100%);
      display: none;
      margin-top: 0;
      gap: 6rem;
      text-align: left;
    }

    @media screen and (max-width: 660px) {
      gap: 1rem;
      height: 100vh;
      padding-inline: 5rem;
    }

    &.active {
      transform: translate(0%);
      display: flex;
    }
  }

  .burger {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
    flex-direction: column;
    position: relative;
    z-index: 110;
    position: absolute;
    top: 11rem;

    @media screen and (max-width: 660px) {
      display: flex;
    }

    .line {
      width: 2.4em;
      height: 0.4em;
      margin: 0.2em;

      transition: 0.3s ease-in-out;
      background-color: grey;
    }
  }

  .burger.active .line:first-child {
    transform: translateY(-300px);
  }

  .burger.active .line:nth-child(2) {
    transform: rotate(-45deg) translateY(8px);
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(45deg) translateY(-8px);
  }
}
