.formGA {
  height: 88rem;
  display: flex;
  position: relative;

  .img-container {
    width: 100%;
    height: 100%;
    background-image: url("Background-Form.jpg");
    z-index: -10;
    position: relative;
    background-position: right;
  }

  .txt-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 14rem;
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    position: absolute;
    left: 0;
    z-index: 10;

    article {
      height: 65rem;
    }

    .steps {
      font: normal normal 300 2.4rem "Open Sans";
      color: #3c3c3c;
    }
  }
  .btn-container {
    display: flex;
    gap: 5rem;

    .modifypage {
      font: normal normal 300 2.4rem "Open Sans";
      color: #000000;
      padding: 2.3rem 6.3rem;
      border: 0.75px solid #3c3c3c;
      background-color: transparent;
      cursor: pointer;
      max-width: 19rem;
    }
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//Step One

.step-one {
  h2 {
    font: normal normal 600 3.6rem "Open Sans";
    color: #000000;
    padding-top: 7rem;
    padding-bottom: 4rem;
  }

  .options-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;

    .option-box {
      display: flex;
      gap: 3rem;

      [data-color="checkbox"] {
        border: 0.75px solid #3c3c3c;
        background-color: transparent;
        height: 4rem;
        width: 4rem;
        cursor: pointer;
      }

      .active {
        background-color: #fad648 !important;
      }

      .option {
        font: normal normal 300 2.4rem "Open Sans";
        color: #000000;
      }
    }
  }
}

//Step Two

.step-two {
  h2 {
    font: normal normal 600 3.6rem "Open Sans";
    color: #000000;
    padding-top: 7rem;
    padding-bottom: 4rem;
  }

  .select-box {
    display: flex;
    gap: 2.6rem;
    font: normal normal 300 2.4rem "Open Sans";
    color: #000000;
    align-items: center;

    select {
      width: 30rem;
      height: 5rem;
      background-color: transparent;
      text-align: center;
      font: normal normal 300 2.4rem "Open Sans";
      //   appearance: none;
      //   -webkit-appearance: none;
      //   -moz-appearance: none;
      position: relative;
    }
    // select::after {
    //   content: "";
    //   height: 20rem;
    //   width: 20rem;
    //   background-color: red;
    //   background-image: url("Icon-Arrow-Up.svg");
    //   background-repeat: no-repeat;
    //   background-position: right center;
    //   padding-right: 20px;
    //   position: absolute;
    //   right: 0;
    // }
  }
}

//Step three

.step-three {
  display: flex;
  flex-direction: column;

  .location-lbl {
    font: normal normal 600 3.6rem "Open Sans";
    color: #000000;
  }

  select {
    width: 30rem;
    height: 5rem;
    background-color: transparent;
    text-align: center;
    font: normal normal 300 2.4rem "Open Sans";
    position: relative;
    color: #000000;
    margin-top: 2rem;
    cursor: pointer;
  }

  h3 {
    font: normal normal 600 2.4rem "Open Sans";
    color: #000000;
    padding-bottom: 2rem;
    padding-top: 5rem;
  }
  .adressee {
    display: flex;
    flex-wrap: wrap;

    p {
      font: normal normal 300 2.4rem "Open Sans";
      color: #000000;
      padding: 1.1rem 2.6rem;
      border: 0.75px solid #3c3c3c;
      background-color: transparent;
      margin-bottom: 2.4rem;
      margin-right: 2.4rem;
      cursor: pointer;
    }

    .active {
      background-color: #fad648;
    }
  }

  .organisation-lbl {
    font: normal normal 600 2.4rem "Open Sans";
  }

  input {
    margin-top: 2rem;
    background-color: transparent;
    width: 80%;
    height: 6rem;
    border: 0.75px solid #3c3c3c;
    font: normal normal 300 1.8rem "Open Sans";
    padding-left: 1rem;
    color: #3c3c3c;
    cursor: pointer;
  }
}

// Step four

.step-four {
  color: #000000;

  h2 {
    font: normal normal 600 3.6rem "Open Sans";
    padding-top: 7rem;
  }

  .form-container {
    display: flex;
    gap: 5rem;

    .form-one,
    .form-two {
      display: flex;
      flex-direction: column;
      padding-top: 5rem;
      width: 50%;

      h3 {
        font: normal normal 600 2.4rem "Open Sans";
        margin-bottom: 2rem;
      }

      .form-box {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        label {
          font: normal normal 300 2rem "Open Sans";
          width: 35%;
        }

        input {
          width: 65%;
          height: 4rem;
          background-color: transparent;
          border: 0.75px solid #3c3c3c;
          cursor: pointer;
          font: normal normal 300 1.3rem "Open Sans";
          padding-left: 0.6rem;
        }

        #textarea {
          width: 65%;
          background-color: transparent;
          border: 0.75px solid #3c3c3c;
          cursor: pointer;
          font: normal normal 300 1.3rem "Open Sans";
          padding-left: 0.6rem;
        }
      }
    }
  }
}
