.heroGA {
  .hero-main-container {
    display: flex;
    height: 90rem; //do zmiany -> zwłaszcza w zakresie mediaqueries
    padding-right: 7.5%;

    @media only screen and (max-width: 660px) {
      padding-right: 0;
      height: auto;
    }

    .heroGA-img-container {
      width: 50%;
      background-image: url("Form-Hero-Image.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;

      @media only screen and (max-width: 660px) {
        display: none;
      }

      @media only screen and (max-width: 1250px) {
        width: 40%;
      }
    }

    .hero-txt-container {
      width: 50%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media only screen and (max-width: 1250px) {
        width: 60%;
      }

      @media only screen and (max-width: 960px) {
        margin-top: 15rem;
      }

      @media only screen and (max-width: 660px) {
        width: 100%;
        padding-inline: 2rem;
        padding-bottom: 5rem;
        padding-top: 2rem;
      }

      .h1-hero {
        font: normal normal normal 3.8rem "Open Sans";
        letter-spacing: -0.76px;
        color: #3c3c3c;

        @media only screen and (max-width: 960px) {
          font-size: 3rem;
        }

        img {
          padding-top: 2.5rem;
        }
      }

      .h2_heroGA {
        font: normal normal 300 3.6rem "Open Sans";
        color: #3c3c3c;
        padding-bottom: 6rem;

        @media only screen and (max-width: 960px) {
          font-size: 2.8rem;
        }
      }

      .steps-container {
        display: flex;
        color: #3c3c3c;
        justify-content: center;
        gap: 2rem;

        @media only screen and (max-width: 860px) {
          flex-wrap: wrap;
        }

        .step-box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          height: 15rem;
          width: 15rem;
          border: 1px solid black;
          rotate: 45deg;

          @media only screen and (max-width: 1050px) {
            height: 11rem;
            width: 11rem;
          }

          @media only screen and (max-width: 860px) {
            height: 11rem;
            width: 11rem;
            rotate: 0deg;
          }

          .txt-box {
            rotate: -45deg;

            @media only screen and (max-width: 860px) {
              rotate: 0deg;
            }
          }

          h3 {
            font: normal normal 300 3.2rem "Open Sans";

            @media only screen and (max-width: 1050px) {
              font-size: 2.5rem;
            }
          }

          h4 {
            font: normal normal 300 2.2rem "Open Sans";
            height: 6rem;
            width: 14rem;

            @media only screen and (max-width: 1050px) {
              font-size: 1.6rem;
              width: 8rem;
            }
          }
        }
      }
    }
  }

  .warning {
    background-color: #fad648;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 14rem;

    @media only screen and (max-width: 1250px) {
      padding-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-inline: 1rem;
    }

    h2 {
      font: normal normal 600 3.6rem "Open Sans";
      color: #000000;

      @media only screen and (max-width: 1000px) {
        font-size: 3rem;
      }
    }

    p {
      font: normal normal normal 2.2rem "Open Sans";
      padding-top: 1rem;
      color: #3c3c3c;

      @media only screen and (max-width: 1000px) {
        font-size: 1.8rem;
      }
    }
  }
}
