.heroGA {
  .hero-main-container {
    display: flex;
    height: 90rem; //do zmiany -> zwłaszcza w zakresie mediaqueries
    padding-right: 7.5%;

    .heroGA-img-container {
      width: 50%;
      background-image: url("Form-Hero-Image.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;
    }

    .hero-txt-container {
      width: 50%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .h1-hero {
        font: normal normal normal 3.8rem "Open Sans";
        letter-spacing: -0.76px;
        color: #3c3c3c;

        img {
          padding-top: 2.5rem;
        }
      }

      .h2_heroGA {
        font: normal normal 300 4rem "Open Sans";
        color: #3c3c3c;
        padding-bottom: 6rem;
      }

      .steps-container {
        display: flex;
        color: #3c3c3c;
        gap: 2rem;

        .step-box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          height: 15rem;
          width: 15rem;
          border: 1px solid black;
          rotate: 45deg;

          .txt-box {
            rotate: -45deg;
          }

          h3 {
            font: normal normal 300 3.2rem "Open Sans";
          }

          h4 {
            font: normal normal 300 2.2rem "Open Sans";
            height: 6rem;
            width: 14rem;
          }
        }
      }
    }
  }

  .warning {
    background-color: #fad648;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 14rem;

    h2 {
      font: normal normal 600 3.6rem "Open Sans";
      color: #000000;
    }

    p {
      font: normal normal normal 2.2rem "Open Sans";
      color: #3c3c3c;
    }
  }
}
