.heroGA {
  padding-right: 7.5%;

  .hero-main-container {
    display: flex;
    height: 90rem; //do zmiany -> zwłaszcza w zakresie mediaqueries

    .hero-img-container {
      width: 50%;
      background-image: url("public/Home-Hero-Image.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;
    }

    .hero-txt-container {
      width: 50%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .h1-hero {
        font: normal normal normal 3.8rem "Open Sans";
        letter-spacing: -0.76px;
        color: #3c3c3c;

        img {
          padding-top: 2.5rem;
        }
      }
    }
  }
}
